**Esercizio** Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di diverse variabili fisiologiche dei pazienti. 

• Osserviamone le dimensioni e un'anteprima di cinque righe; 

• Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 

• Stampiamo dei descrittori statistici del dataset; 

• Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50; 

• Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?

In [8]:
import os
import dotenv
import sqlalchemy
import pandas as pd
df = pd.read_csv(r"C:\Users\patri\OneDrive\Documents\Epicode Data Analyst\Modulo 3 - Python\W10D5\datasets\datasets\beginner_datasets\diabetes.csv")

In [11]:
df.shape

(768, 9)

In [15]:
df.head(5)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [84]:
filtro_2029 = (df['Age (years)'] >= 20) & (df['Age (years)'] <= 29)
filtro1 = df[filtro_2029]
filtro_3039 = (df['Age (years)'] >= 30) & (df['Age (years)'] <= 39)
filtro2 = df[filtro_3039]
filtro_4050 = (df['Age (years)'] >= 40) & (df['Age (years)'] <= 50)
filtro3 = df[filtro_4050]

In [98]:
df_filtered_2029 = df.loc[filtro_2029, "Diastolic blood pressure (mm Hg)"]
avg_2029 = df_filtered_2029.dropna().mean()
print(f"Media 20-29: {avg_2029}")

Media 20-29: 65.34848484848484

In [100]:
df_filtered_3039 = df.loc[filtro_3039, "Diastolic blood pressure (mm Hg)"]
avg_3039 = df_filtered_3039.dropna().mean()
print(f"Media 30-39: {avg_3039}")

Media 30-39: 69.66666666666667

In [102]:
df_filtered_4050 = df.loc[filtro_4050, "Diastolic blood pressure (mm Hg)"]
avg_4050 = df_filtered_4050.dropna().mean()
print(f"Media 40-50: {avg_4050}")
# Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?

Media 40-50: 74.21428571428571