In [9]:
import os
import dotenv
import sqlalchemy
import pandas as pd

**Esercizio** Tra i beginner datasets selezioniamo amazon.csv

• Valutiamo la dimensione del dataset 

• Visualizziamo dieci righe a caso; 

• Osserviamo quali sono i nomi di colonna; 

• Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

In [11]:
df = pd.read_csv(r"C:\Users\patri\OneDrive\Documents\Epicode Data Analyst\Modulo 3 - Python\W10D5\datasets\datasets\beginner_datasets\amazon.csv")

In [13]:
df.shape # Valutiamo la dimensione del dataset

(20000, 2)

In [15]:
df.sample(10) # Visualizziamo dieci righe a caso

                                              reviewText  Positive
12358  This is been a great app ever since I download...         1
932    it's a great free game. very fun. even if it's...         1
7891   All of the dominoes are in the pattern...Okay ...         0
2524   I completed the game but it was very challengi...         1
2184   sometimes...you want a card game and no one wi...         1
5333   I HATE THIS APP!!! Do not get it. takes 10 sec...         0
6435   Like so many others remember this fondly from ...         1
10876  Apples wonderful for all shoe lovers. Shoe peo...         1
7451                                  I did not like it.         0
4666   beyond fun! beyond addicting! challenging and ...         1

In [17]:
df.columns #Osserviamo quali sono i nomi di colonna

Index(['reviewText', 'Positive'], dtype='object')

**Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?**

No, ci sono molte piu' recensioni positive che negative. Inoltre trovo l'etichetta della colonna fuorviante.