**Esercizio** Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono, rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute. 

• Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 

• Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 

• E rispetto a smoker? E a sex? 

• Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [4]:
import os
import dotenv
import sqlalchemy
import pandas as pd
df = pd.read_csv(r"C:\Users\patri\OneDrive\Documents\Epicode Data Analyst\Modulo 3 - Python\W10D5\datasets\datasets\beginner_datasets\insurance.csv")

In [6]:
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [8]:
df.shape

(1338, 7)

In [10]:
df["region"].unique() # Quali sono le medie di charges rispetto a region? Ci sono differenze significative?

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [12]:
f_southwest = df.loc[:, "region"] == "southwest"
f_southeast = df.loc[:, "region"] == "southeast"
f_northwest = df.loc[:, "region"] == "northwest"
f_northeast = df.loc[:, "region"] == "northeast"

In [14]:
charges_sw = df.loc[f_southwest, "charges"].mean()
print(f"Media SudOvest: {charges_sw}")

Media SudOvest: 12346.937377292308

In [16]:
charges_se = df.loc[f_southeast, "charges"].mean()
print(f"Media SudEst: {charges_se}")

Media SudEst: 14735.411437609888

In [18]:
charges_nw = df.loc[f_northwest, "charges"].mean()
print(f"Media NordOvest: {charges_nw}")

Media NordOvest: 12417.57537396923

In [20]:
charges_ne = df.loc[f_northeast, "charges"].mean()
print(f"Media NordEst: {charges_ne}")

Media NordEst: 13406.384516385804

In [22]:
smoker = df.loc[:, "smoker"] == "yes"
charges_smoker = df.loc[smoker, "charges"].mean()
print(f"Smokers Avg Charge: {charges_smoker}")

sexf = df.loc[:, "sex"] == "female"
charges_f = df.loc[sexf, "charges"].mean()
print(f"Female Avg Charge: {charges_f}")

sexm = df.loc[:, "sex"] == "male"
charges_m = df.loc[sexm, "charges"].mean()
print(f"Male Avg Charge: {charges_m}")
# E rispetto a smoker? E a sex?

Smokers Avg Charge: 32050.23183153284
Female Avg Charge: 12569.578843835347
Male Avg Charge: 13956.751177721893

In [24]:
df["bmi"].describe() # Quali sono i descrittori statistici di bmi?

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [26]:
# Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
q1 = df["bmi"].quantile(0.25) 
q2 = df["bmi"].quantile(0.50)
q3 = df["bmi"].quantile(0.75)

In [28]:
filtro_q1 = df["bmi"] <= q1
filtro_q2 = (df["bmi"] > q1) & (df["bmi"] <= q2)
filtro_q3 = (df["bmi"] > q2) & (df["bmi"] <= q3)
filtro_q4 = df["bmi"] > q3

min_q1, mean_q1, max_q1 = df.loc[filtro_q1, "charges"].min(), df.loc[filtro_q1, "charges"].mean(), df.loc[filtro_q1, "charges"].max()
min_q2, mean_q2, max_q2 = df.loc[filtro_q2, "charges"].min(), df.loc[filtro_q2, "charges"].mean(), df.loc[filtro_q2, "charges"].max()
min_q3, mean_q3, max_q3 = df.loc[filtro_q3, "charges"].min(), df.loc[filtro_q3, "charges"].mean(), df.loc[filtro_q3, "charges"].max()
min_q4, mean_q4, max_q4 = df.loc[filtro_q4, "charges"].min(), df.loc[filtro_q4, "charges"].mean(), df.loc[filtro_q4, "charges"].max()

In [30]:
print(f"Q1 (<= {q1}): Min: {min_q1}, Mean: {mean_q1}, Max: {max_q1}")
print(f"Q2 (> {q1} & <= {q2}): Min: {min_q2}, Mean: {mean_q2}, Max: {max_q2}")
print(f"Q3 (> {q2} & <= {q3}): Min: {min_q3}, Mean: {mean_q3}, Max: {max_q3}")
print(f"Q4 (> {q3}): Min: {min_q4}, Mean: {mean_q4}, Max: {max_q4}")

Q1 (<= 26.29625): Min: 1121.8739, Mean: 10360.662825492538, Max: 38245.59327
Q2 (> 26.29625 & <= 30.4): Min: 1131.5066, Mean: 11407.831467689348, Max: 62592.87309
Q3 (> 30.4 & <= 34.69375): Min: 1135.9407, Mean: 14358.17308081818, Max: 60021.39897
Q4 (> 34.69375): Min: 1141.4451, Mean: 16987.936690955226, Max: 63770.42801