**Esercizio** Nei beginner_datasets, il dataset wine.csv contiene delle analisi organolettiche su diverse qualità di vini:

In [4]:
import os
import dotenv
import sqlalchemy
import pandas as pd
df = pd.read_csv(r"C:\Users\patri\OneDrive\Documents\Epicode Data Analyst\Modulo 3 - Python\datasets\beginner_datasets\wine.csv")
df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [18]:
# Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale? 
alc_avg_q = df.groupby("quality").alcohol.mean()
alc_avg_q

quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

In [20]:
# C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi? 
alc_avg_t = df.groupby("type").alcohol.mean()
alc_avg_t

type
red      10.422983
white    10.514267
Name: alcohol, dtype: float64

In [22]:
# Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa? 
ph_avg_q = df.groupby("quality").pH.mean()
ph_avg_q

quality
3    3.257667
4    3.231620
5    3.212189
6    3.217726
7    3.228072
8    3.223212
9    3.308000
Name: pH, dtype: float64

In [26]:
ph_avg_t = df.groupby("type").pH.mean()
ph_avg_t

type
red      3.311113
white    3.188267
Name: pH, dtype: float64

In [29]:
# E per i solfati?
sul_avg_q = df.groupby("quality").sulphates.mean()
sul_avg_q

quality
3    0.506333
4    0.505648
5    0.526403
6    0.532549
7    0.547025
8    0.512487
9    0.466000
Name: sulphates, dtype: float64

In [31]:
sul_avg_t = df.groupby("type").sulphates.mean()
sul_avg_t

type
red      0.658149
white    0.489847
Name: sulphates, dtype: float64