**Esercizio 1/2** Andiamo sul file (in formato CSV) della mappa dei pub, circoli e locali in Italia Nota: il dataset non ha un encoding UTF-8 ma Latin1; inoltre il separatore non è una virgola, ma un punto e virgola. Dunque per leggerlo dovremo aggiungere i parametri encoding= e sep=, ad esempio: pd.read_csv(file_path, encoding="latin1", sep=";")

In [92]:
import pandas as pd
df = pd.read_csv(r"C:\Users\patri\OneDrive\Documents\Epicode Data Analyst\Modulo 3 - Python\datasets\altri_dataset\Mappa-dei-pub-circoli-locali-in-Italia.csv", encoding="latin1", sep=";")

**Esercizio 2/2** Esaminiamo il dataset:

In [21]:
df.shape # quanti dati ci sono in totale?

(2635, 9)

In [90]:
df.columns # quali sono i metadati?

Index(['Comune', 'Provincia', 'Regione', 'Nome', 'Anno inserimento',
       'Data e ora inserimento', 'Identificatore in OpenStreetMap',
       'Longitudine', 'Latitudine'],
      dtype='object')

In [29]:
df.head(1) # stampiamo il primo elemento

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

In [31]:
df.tail(1) # stampiamo l'ultimo elemento

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [33]:
df.sample(1) # riusciamo a stampare un elemento a caso?

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
1758,GROSSETO,GROSSETO,Toscana,13 Gobbi Pub,2012,2012-04-24T15:31:48Z,1729090160,11.113976,42.759107

In [98]:
# quali sono gli anni di inserimento presenti? 
sorted(df["Anno inserimento"].unique())

[2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [122]:
# quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
quadrato = df[(df["Longitudine"] >= 9) & (df["Longitudine"] <= 10) &
           (df["Latitudine"] >= 45) & (df["Latitudine"] <= 46)] 
count = (quadrato.groupby(["Latitudine","Longitudine"])).size()
count

Latitudine  Longitudine
45.019720   9.237156       1
45.066615   9.949613       1
45.075478   9.309539       1
45.100035   9.929070       2
45.146084   9.997784       1
                          ..
45.886770   9.949574       1
45.911138   9.131320       1
45.935332   9.472043       1
45.990050   9.681540       1
45.993952   9.031698       1
Length: 302, dtype: int64

In [82]:
# quante attività ci sono nella provincia di Vicenza? 
filtro_VI = df[(df["Provincia"] == "VICENZA")] 
count = (filtro_VI.groupby(["Provincia"])).size()
count

Provincia
VICENZA    73
dtype: int64

In [116]:
# quante enoteche ci sono, e come si chiamano?
df["Nome"] = df["Nome"]
eno_filter = df["Nome"].str.lower().str.contains("enoteca")
print("Enoteche totali:", len(df[ eno_filter ]))
display(df[ eno_filter ].Nome)

Enoteche totali: 6

64      Enoteca con Cucina""Tirolin""
496                 Concordia Enoteca
1003                  Enoteca Umberto
1491          Enoteca ""Al Brindisi""
1492           Enoteca ""da Massimo""
1723         Enoteca Il Violino Rosso
Name: Nome, dtype: string

In [124]:
# quante attività ci sono in Lazio e Abruzzo assieme?
print("Attivita' nel Lazio e Abruzzo:", len(df[ (df["Regione"] == "Lazio") |(df["Regione"] == "Abruzzo")]))

Attivita' nel Lazio e Abruzzo: 337