**Esercizio** Carichiamo in un DataFrame il dataset iris.csv dei beginner_datasets e calcoliamo:

In [3]:
import os
import dotenv
import sqlalchemy
import pandas as pd
df = pd.read_csv(r"C:\Users\patri\OneDrive\Documents\Epicode Data Analyst\Modulo 3 - Python\datasets\beginner_datasets\iris.csv")

In [5]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
# La media della lunghezza dei petali di tutto il dataset 
tot_avg = df.petal_length.mean()
tot_avg

3.758666666666666

In [16]:
# La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby() 
species_avg = df.groupby("species").petal_length.mean()
species_avg

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [19]:
# Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()
min_max_avg = df.groupby("species").sepal_width.agg(["min","max","mean"])
min_max_avg

                 min  max   mean
species
Iris-setosa      2.3  4.4  3.418
Iris-versicolor  2.0  3.4  2.770
Iris-virginica   2.2  3.8  2.974