**Esercizio** Il dataset insurance.csv dei beginner_datasets contiene dati su caratteristiche e abitudini delle persone rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.

In [48]:
import pandas as pd
df = pd.read_csv(r"C:\Users\patri\OneDrive\Documents\Epicode Data Analyst\Modulo 3 - Python\datasets\beginner_datasets\insurance.csv")

In [50]:
# Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna
df.shape

(1338, 7)

In [52]:
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [54]:
# Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 
region_avg = df.groupby("region").charges.mean()
region_avg

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [56]:
# E rispetto a smoker? E a sex? 
smoker_avg = df.groupby("smoker").charges.mean()
smoker_avg

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [58]:
sex_avg = df.groupby("sex").charges.mean()
sex_avg

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [60]:
# Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi? 
df["bmi"].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [62]:
min_max_mean = df.groupby("bmi").charges.agg(["min","max","mean"])
min_max_mean

                min          max          mean
bmi
15.960   1694.79640   1694.79640   1694.796400
16.815   3167.45585   6640.54485   4904.000350
17.195  14455.64405  14455.64405  14455.644050
17.290   3732.62510  12829.45510   7813.353433
17.385   2775.19215   2775.19215   2775.192150
...             ...          ...           ...
48.070   9432.92530   9432.92530   9432.925300
49.060  11381.32540  11381.32540  11381.325400
50.380   2438.05520   2438.05520   2438.055200
52.580  44501.39820  44501.39820  44501.398200
53.130   1163.46270   1163.46270   1163.462700

[548 rows x 3 columns]